In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("AB_NYC_2019.csv")
df.head(2)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355

In [6]:
df.price.describe()

count    48895.000000
mean       152.720687
std        240.154170
min          0.000000
25%         69.000000
50%        106.000000
75%        175.000000
max      10000.000000
Name: price, dtype: float64

In [ ]:
min_thresold, max_thresold = df.price.quantile([0.01,0.999])
min_thresold, max_thresold

In [ ]:
df[df.price<min_thresold]

In [ ]:
df2 = df[(df.price>min_thresold)&(df.price<max_thresold)]
df2.shape

In [ ]:
df2.sample(5)

In [ ]:
df2.price.describe()